name: Lint

on:
  push:
    branches: [ "master" ]
    paths:
      - 'examples/**'
      - 'src/**'
      - 'tests/**'
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install deps
      # need Ubuntu clang-format version 19.1.1 (1ubuntu1~24.04.2)
      # default Ubuntu clang-format version 18.1.3 (1ubuntu1) is not working
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-format-19

    - name: Check clang-format conformity
      run: bash .github/clang-lint.sh
