name: Lint

on:
  push:
    branches: [ "master" ]
    paths:
      - 'examples/**'
      - 'src/**'
      - 'tests/**'
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Check clang-format conformity
      run: bash .github/clang-lint.sh
